

body{
    background: whitesmoke;
}

.containerWrapper{
 
max-width: 1220px;
  min-height: 10vh;
  margin: 0 auto;
  background: white;
  border: 1px solid black;
}
header{
    background: lightgrey;
    
}
main{
 
 margin: 0 auto;
  padding: 5px;
  display: grid;
 grid-template-columns: repeat(4,1fr);

  grid-template-rows: repeat(4, minmax(50vh, auto));
  gap: 10px;
  background: white;
 
 
 


}
.personas{
    border-radius: 10px;
    background: rgb(207, 212, 207);
   justify-content: center;
   align-items: center;
   text-align: center;
   position: relative;
   font-size: 20px;
   min-height: 60vh;
   width: 40ch;
   
}

img{
  
  border-radius: 50%;
  margin: 0 auto;
   margin-top: 20px;
   height: 20vh;
    
  
}

.deleteButton{
    background:red ;
   
   border-radius: 50px;
   position: absolute;
   right: 0;
   top: 0;
   margin-right: 10px;
   margin-top: 10px;
}

.LinkButton{
    font-weight: bold;
    padding: 0.7rem;
    border-radius: 25px;
    width: 24ch;
    color: blue;
    border: 2px solid blue;
    font-size: 20px;
}

.spanRight{
    float: right;
    margin-right: 10px;
}

